@font-face {
  font-family: Montserrat;
  src: url("../../Assets/Fonts/montserrat/Montserrat-Light.otf")
    format("truetype");
}

@font-face {
  font-family: Montserrat_mid;
  src: url("../../Assets/Fonts/montserrat/Montserrat-Regular.ttf")
    format("truetype");
}

@font-face {
  font-family: Montserrat_bold;
  src: url("../../Assets/Fonts/montserrat/Montserrat-ExtraBold.otf")
    format("truetype");
}

@font-face {
  font-family: kaushan;
  src: url("../../Assets/Fonts/kaushan-script/kaushan-script.kaushanscript-regular.otf")
    format("truetype");
}
@font-face {
  font-family: Roboto;
  src: url("../../Assets/Fonts/robotofont/Roboto-Light.ttf") format("truetype");
}

.footer {
  min-height: 560px;
  background-color: #f8f8f8;
}

.footer1box {
  width: 480px;
  display: flex;
  flex-direction: column;
  > a {
    font-size: 46px;
    color: #cccccc;
    font-weight: 700;
    font-family: "Montserrat_bold";
    text-align: start !important;
  }
  > p {
    font-size: 15px;
    line-height: 24px;
    color: #999999;
    font-weight: 400;
    font-family: "Roboto";
    text-align: start;
  }
  > h2 {
    font-size: 18px;
    color: #333333;
    font-weight: 700;
    font-family: "Montserrat_mid";
    text-align: start;

    > span {
      font-size: 16px;
      color: #333333;
      font-weight: 300;
      font-family: "Montserrat_mid";
    }
  }
  > .follows {
    width: 100%;
    height: 50px;
    border-top: 1px solid #e5e5e5;
    display: flex;
    align-items: center;
    color: #95e1d3;
    font-size: 17px;
    > h2 {
      font-size: 15px;
      line-height: 24px;
      color: #999999;
      font-weight: 300;
      font-style: italic;
      font-family: "Roboto";
      text-align: start;
      margin-top: 10px;
      margin-right: 15px;
    }
    > svg:hover {
      cursor: pointer;
      background-color: #95e1d3;
      color: #f8f8f8;
    }
  }
  > div {
    > input {
      width: 230px;
      height: 40px;
      background-color: #ffffff;
      border: 1px solid #e7e7e7;
      font-size: 15px;
      line-height: 24px;
      color: #cccccc;
      font-weight: 300;
      font-style: italic;
      font-family: "Roboto";
    }
  }
}
