@font-face {
  font-family: Montserrat;
  src: url("../../Assets/Fonts/montserrat/Montserrat-Light.otf")
    format("truetype");
}

@font-face {
  font-family: Montserrat_mid;
  src: url("../../Assets/Fonts/montserrat/Montserrat-Regular.ttf")
    format("truetype");
}

@font-face {
  font-family: Montserrat_bold;
  src: url("../../Assets/Fonts/montserrat/Montserrat-ExtraBold.otf")
    format("truetype");
}

@font-face {
  font-family: kaushan;
  src: url("../../Assets/Fonts/kaushan-script/kaushan-script.kaushanscript-regular.otf")
    format("truetype");
}
@font-face {
  font-family: Roboto;
  src: url("../../Assets/Fonts/robotofont/Roboto-Light.ttf") format("truetype");
}

.OurStories {
  min-height: 750px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  > h3 {
    font-size: 24px;
    color: #333333;
    font-weight: 400;
    font-family: "kaushan";
    text-align: center;
    margin-top: 80px;
  }
  > h2 {
    font-size: 30px;
    text-transform: uppercase;
    color: #333333;
    font-weight: 700;
    font-family: "Montserrat_mid";
    text-align: center;
  }
  img {
    width: 380px;
    height: 470px;
    object-fit: cover;
  }
}
.line {
  width: 60px;
  height: 3px;
  background-color: #f38181;
  margin: 40px;
}

.BigBox {
  h3 {
    font-size: 14px;
    text-transform: uppercase;
    color: #333333;
    font-weight: 400;
    font-family: "Montserrat";
    text-align: center;
  }
  p {
    font-size: 15px;
    line-height: 24px;
    color: #999999;
    font-weight: 300;
    font-style: italic;
    font-family: "Roboto";
    text-align: center;
  }
}

.imgDiv {
  width: 380px;
  height: 240px;
  margin: 20px;
  transition: 0.5s;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.aboutImg1 {
  object-fit: unset !important;
}

.weAreFooter {
  height: 250px;
  background-color: #f8f8f8;
  background-image: url("../../Assets/Images/logos.png");
  background-repeat: no-repeat;
  background-position: center;
}

.view {
  display: flex;
  justify-content: center;
  > img {
    width: 5%;
    height: 1%;
    aspect-ratio: 3/2;
    object-fit: contain;
  }
}
