@font-face {
  font-family: Montserrat;
  src: url("../../Assets/Fonts/montserrat/Montserrat-Light.otf")
    format("truetype");
}

@font-face {
  font-family: Montserrat_mid;
  src: url("../../Assets/Fonts/montserrat/Montserrat-Regular.ttf")
    format("truetype");
}

@font-face {
  font-family: Montserrat_bold;
  src: url("../../Assets/Fonts/montserrat/Montserrat-ExtraBold.otf")
    format("truetype");
}

@font-face {
  font-family: kaushan;
  src: url("../../Assets/Fonts/kaushan-script/kaushan-script.kaushanscript-regular.otf")
    format("truetype");
}

.aboutUs {
  min-height: 750px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  h3 {
    font-size: 24px;
    color: #333333;
    font-weight: 400;
    font-family: "kaushan";
    text-align: center;
  }
  h2 {
    font-size: 30px;
    text-transform: uppercase;
    color: #333333;
    font-weight: 700;
    font-family: "Montserrat_mid";
    text-align: center;
  }
  p {
    font-size: 15px;
    line-height: 24px;
    color: #999999;
    font-weight: 400;
    font-family: "Roboto";
    text-align: center;
    margin-bottom: 60px;
  }
  .line {
    width: 60px;
    height: 3px;
    background-color: #f38181;
    margin: 40px;
  }
  img {
    width: 380px;
    height: 250px;
    aspect-ratio: 3/2;
    object-fit: cover;
  }

  .imgDiv {
    width: 380px;
    height: 250px;
    margin: 20px;
    transition: 0.5s;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    p {
      font-size: 18px;
      text-transform: uppercase;
      color: #ffffff;
      font-weight: 700;
      font-family: "Montserrat";
      text-align: center;
      display: none;
      position: absolute;
        margin-top: 30px;
    }
    .user {
      width: 32px;
      height: 23px;
      display: none;
      position: absolute;
    }
  }

  .imgDiv:hover {
    transition: 0.5s;
    box-shadow: 10px 10px 0px 0px rgba(149, 225, 211, 1);
    -webkit-box-shadow: 10px 10px 0px 0px rgba(149, 225, 211, 1);
    -moz-box-shadow: 10px 10px 0px 0px rgba(149, 225, 211, 1);
    cursor: pointer;
    p,
    .user {
      display: block;
    }
    background: rgb(226, 204, 123);
    background: linear-gradient(
      0deg,
      rgba(226, 204, 123, 1) 0%,
      rgba(219, 116, 116, 1) 53%
    );

    img {
      opacity: 0.2;
    }
  }
}
